<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tamaño 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tamaño 3</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-title size="large" class="Title">App Recept</ion-title>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col><ion-button expand="block" (click)="tapNumber(1)">1</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="tapNumber(2)">2</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="tapNumber(3)">3</ion-button></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button expand="block" (click)="tapNumber(4)">4</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="tapNumber(5)">5</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="tapNumber(6)">6</ion-button></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button expand="block" (click)="tapNumber(7)">7</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="tapNumber(8)">8</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="tapNumber(9)">9</ion-button></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><ion-button expand="block" (click)="tapNumber(0)">*</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="tapNumber(0)">0</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="tapNumber(0)">#</ion-button></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" (click)="send()">Enviar</ion-button> 
</ion-content>
